<html>
<head >
<body style= "background: url(https://image.freepik.com/free-vector/blue-yellow-abstract-blurred-background_1034-235.jpg);background-size: 100% 100%;">
<style>
table{font-family:Calibri; color:"#FFFFFF"; width:8%;}
hr{border-top :1px solid #000000;
color:#000000;
}
</style>
<title> TROUVAILLE </title> </head>
<body> <h1 <font face= "Gabriola"><font size= "+5"> <CENTER> TROUVAILLE </CENTER> </font> </h1>
<h3 font face="Calibri"><i><center>'A chance to encounter with something wonderful'</center></i> </font></h3>
<br>
<h3  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> <CENTER>ABOUT US</CENTER> </font> </h3>
<br>
<br>
<hr>
<hr>
<hr>
<hr>
<br>
<h2><center>Our Mission</center></h2>
<p><center><font size= "+1"><i>Our mission is to provide the ultimate travel planning experience, while becoming a one stop shop for every travel service available in the industry. 
<br>
Domestic & International Pacakage Tour, Airline tickets, Railway Tickets, Visa Assistance, hotel in India, worldwide luxury resorts,  car rentals.</i></p></center>
<br>
<br>
<h2><center>Our Vision</center></h2>
<p><center><font size= "+1"><i>To strengthen our position as the leading tourism company providing quality, creative, innovative, competitive and socially responsible services in the region.</i><p></center>
<br>
<h2><center>Contact Us</center></h2>
<p><center><i>ADDRESS: 4/15 RASHBEHARI ROAD.
<br>
PHONE NUMBER: 9993857026.
<br>
E-MAIL: Trouvaille@yahoo.com .
<br> 
WEBSITE: www.trouvaille.in</i></p></center>
</body>
</html> 