<html>
<head >
<body style= "background: url(https://ak.picdn.net/shutterstock/videos/12514463/thumb/1.jpg);background-size: 100% 100%;">
<style>
table{font-family:Calibri; color:"#FFFFFF"; width:8%;}
</style>
<title> TROUVAILLE </title> </head>
<body> <h1 <font face= "Gabriola"><font size= "+5"> <CENTER> TROUVAILLE </CENTER> </font> </h1>
<h3 font face="Calibri"><i><center>'A chance to encounter with something wonderful'</center></i> </font></h3>
<br>
<h3  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> <CENTER> DOMESTIC HOLIDAY PACKAGES </CENTER> </font> </h3>
<br>
<br>
<br>
<table>  
<tr>
<TABLE BORDER="10" BORDERCOLOR="#008080">
<td><img src="https://cdn.pixabay.com/photo/2017/02/17/22/58/backwaters-2075753_960_720.jpg" alt="Houseboats of Kerala" width="495" height="350"></td>
<td><img src="https://c4.wallpaperflare.com/wallpaper/446/515/798/india-silhouette-camel-caravan-wallpaper-preview.jpg" alt="Deserts and Camels" width="495" height="350"></td>
<td><img src="https://static.toiimg.com/photo/76850631.cms" alt="Kashmir Valley" width="495" height="350"></td>
<tr>
<th><font color="#000000"><font size= "+2"><i>KERALA</i></FONT> </th>
<th><font color="#000000"><font size= "+2"><i>RAJASTHAN</i></FONT> </th>
<th><font color="#000000"><font size= "+2"><i>KASHMIR</i></FONT> </th>
<tr>
<th><font color="#000000"><a href="kerala">For details click here</a></FONT> </th>
<th><font color="#000000"><a href="rajasthan">For details click here</a></FONT> </th>
<th><font color="#000000"><a href="kashmir">For details click here</a> </FONT> </th>
</tr>
</table>
</body>
</html> 