<html>
<head >
<body style= "background: url(https://img.freepik.com/free-photo/abstract-blur-tropical-beach-sea-maldives-background_1339-107132.jpg?size=626&ext=jpg);background-size: 100% 100%;">
<style>
table{font-family:Calibri; color:"#FFFFFF"; width:8%;}
hr{border-top :1px solid #000000;
color:#000000;
}
</style>
<title> TROUVAILLE </title> </head>
<body> <h1 <font face= "Gabriola"><font size= "+5"> <CENTER> TROUVAILLE </CENTER> </font> </h1>
<h3 font face="Calibri"><i><center>'A chance to encounter with something wonderful'</center></i> </font></h3>
<br>
<h3  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> <CENTER>EUROPE PACKAGES</CENTER> </font> </h3>
<br>
<br>
<hr>
<hr>
<hr>
<hr>
<br>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>
PACKAGE - 1 </font> </h4>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>Paris La Tour </center></font> </h4>
</center>
<table>
<tr>
<TABLE BORDER="10" BORDERCOLOR="#1B4F72">
<td><img src="https://www.shangri-la.com/uploadedImages/Shangri-la_Hotels/Shangri-La_Hotel,_Paris/meetings-events/La%20Rontonde%20des%20Salons%20historiques.jpg?width=720&height=355&mode=crop&quality=80" alt="Shangri-La hotel" width="495" height="350"></td>
<td><h3>Package Inclusions:- <br><br><br><h5><li>International Air Ticket</li><br><li>All meals </li><br><li>Priority Check-in</li><br><li>Travel Insurance</li><br><li>On ground Assistance</li></h5></h3></td>
<td><h3>Hotel :-<br>Shangri-La Hotel<h5><br><br><li>3 days check in at Hotel Shangri-La</li><br><li>Complimentary breakfasts</li><br><li>Exotic Spa </li><br><li>Free Parking</li><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 1.)<h5><br><li>Louvre Museum</li><br><li>Centre Pomidou</li><br><li>Eiffel Tower</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 2.)<h5><br><br><br><li>Louis Vuitton Foundation</li><br><li>Paris Plages</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 3.)<h5><br><br><li>Petit Palais</li><br><li>Quai Brandly Palais</li><br><li>Batofar</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Mealing Services Inclusions:-<br><h5><li>Proper Hygeinic Restraurants are organized en-route</li><br><li>Fully Air Conditioned </li><br><li>Completely Hygenic </li><br><li>All Snack Suppliments will be included in the tour bus</li></h5></h3></td>
<td><h3>Transportation Services Provided:-<br><br><br><h5><li>Rental Cars will be available for those in need</li><br><li>Fully Air Conditioned </li><br><li>Sanatized </li><br><li>All other neccesities will be included in the tour bus</li></h5></h3></td>
<td><h3>Medication Services Provided:-<h5><li>Advised to carry all your important medicines</li><br><li>Different Sanitizer bottles and Masks will be provided to all </li><br><li>All other normal medicines will be included in the tour bus</li></h5></h3></td>
<td><h3></h3></td><td><h3>Complete Package Price :-<br><br><br><br><br> Rs 97,999  <br><h5>(Inclusion of GST)<br><br><br><br><br><br><br></h5></h3></td>
<td><button type="submit"><a href="buynow"><h4 <font color="#FFFFFF"> Buy Package </h4></a></button></td>
</tr>
</table>
<br>
<br>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>
PACKAGE - 2 </font> </h4>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>Venice La Tour </center></font> </h4>
</center>
<table>
<tr>
<TABLE BORDER="10" BORDERCOLOR="#1B4F72">
<td><img src="https://media.expedia.com/hotels/2000000/1960000/1955100/1955095/4360f78d_z.jpg" alt="Mercurio hotel" width="495" height="350"></td>
<td><h3>Package Inclusions:- <br><br><br><h5><li>International Air Ticket</li><br><li>All meals </li><br><li>Priority Check-in</li><br><li>Travel Insurance</li><br><li>On ground Assistance</li></h5></h3></td>
<td><h3>Hotel :-<br>Mercurio Venice Hotel<h5><li>3 days check in at Hotel Mercurio Venice</li><br><li>Complimentary breakfasts</li><br><li>Exotic Spa </li><br><li>Free Parking</li><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 1.)<h5><br><li>Doge's Palace</li><br><li>Ariani Cicogna Palace</li><br><li>Palazzo Pisani Moretta</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 2.)<h5><br><br><br><br><li>Palazzo Soranzo</li><br><li>Rialto Bridge</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 3.)<h5><br><br><li>Constitution Bridge</li><br><li>Bridge Of Sighs<li><br><li>Batofar</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Mealing Services Inclusions:-<br><h5><li>Proper Hygeinic Restraurants are organized en-route</li><br><li>Fully Air Conditioned </li><br><li>Completely Hygenic </li><br><li>All Snack Suppliments will be included in the tour bus</li></h5></h3></td>
<td><h3>Transportation Services Provided:-<br><br><br><h5><li>Rental Cars will be available for those in need</li><br><li>Fully Air Conditioned </li><br><li>Sanatized </li><br><li>All other neccesities will be included in the tour bus</li></h5></h3></td>
<td><h3>Medication Services Provided:-<h5><li>Advised to carry all your important medicines</li><br><li>Different Sanitizer bottles and Masks will be provided to all </li><br><li>All other normal medicines will be included in the tour bus</li></h5></h3></td>
<td><h3></h3></td><td><h3>Complete Package Price :-<br><br><br><br><br> Rs 89,999  <br><h5>(Inclusion of GST)<br><br><br><br><br><br><br></h5></h3></td>
<td><button type="submit"><a href="buynow"><h4 <font color="#FFFFFF"> Buy Package </h4></a></button></td>
</tr>
</table>
</body>
</html> 