<html>
<head >
<body style= "background: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX29130734.jpg);background-size: 100% 100%;">
<style>
table{font-family:Calibri; color:"#FFFFFF"; width:8%;}
</style>
<title> TROUVAILLE </title> </head>
<body> <h1 <font face= "Gabriola"><font size= "+5"> <CENTER> TROUVAILLE </CENTER> </font> </h1>
<h3 font face="Calibri"><i><center>'A chance to encounter with something wonderful'</center></i> </font></h3>
<br>
<h3  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> <CENTER> INTERNATIONAL HOLIDAY PACKAGES </CENTER> </font> </h3>
<br>
<br>
<br>
<table>  
<tr>
<TABLE BORDER="10" BORDERCOLOR="#654321">
<td><img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/07/be/ec/eb.jpg" alt="Dubai-Burj Khalifa" width="495" height="350"></td>
<td><img src="https://i.pinimg.com/originals/de/db/8a/dedb8a168af58b7a3c8f64a66b9ba9f7.jpg" alt="Fountain-Singapore" width="495" height="350"></td>
<td><img src="https://images.unsplash.com/photo-1505205296326-2178af1b47bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Paris-Europe" width="495" height="350"></td>
<tr>
<th><font color="#000000"><font size= "+2"><i>DUBAI</i></FONT></th>
<th><font color="#000000"><font size= "+2"><i>SINGAPORE</i></FONT></th>
<th><font color="#000000"><font size= "+2"><i>EUROPE</i></FONT></th>
<tr>
<th><font color="#000000"><a href="dubai">For details click here</a></FONT> </th>
<th><font color="#000000"><a href="singapore">For details click here</a></FONT> </th>
<th><font color="#000000"><a href="europe">For details click here</a> </FONT> </th>
</tr>
</table>