<html>
<head >
<body style= "background: url(https://www.pgclick.com/file_uploads/pg_photos/1000/Lubcz_1580739438.JPG);background-size: 100% 100%;">
<style>
table{font-family:Calibri; color:"#FFFFFF"; width:8%;}
hr{border-top :1px solid #000000;
color:#000000;
}
</style>
<title> TROUVAILLE </title> </head>
<body> <h1 <font face= "Gabriola"><font size= "+5"> <CENTER> TROUVAILLE </CENTER> </font> </h1>
<h3 font face="Calibri"><i><center>'A chance to encounter with something wonderful'</center></i> </font></h3>
<br>
<h3  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> <CENTER>KERALA PACKAGES</CENTER> </font> </h3>
<br>
<br>
<hr>
<hr>
<hr>
<hr>
<br>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>
PACKAGE - 1 </font> </h4>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>Enchanting Munnar </center></font> </h4>
</center>
<table>
<tr>
<TABLE BORDER="10" BORDERCOLOR="#7E5109">
<td><img src="https://media-cdn.tripadvisor.com/media/photo-s/13/33/4a/f4/lake-n-hills-resorts.jpg" alt="Lakes and Hills hotel-Munnar" width="495" height="350"></td>
<td><h3>Package Inclusions:- <br><h5><li>Welcome drinks</li><br><li>All meals on Boat</li><br><li>Driver's Allowance</li><br><li>Priority Check-in</li><br><li>Travel Insurance</li><br><li>On ground Assistance</li></h5></h3></td>
<td><h3>Hotel :-<br>Lakes&Hills<br><br><h5><li>3 days check in at Hotel Lakes N Hills</li><br><li>Compliment breakfasts</li><br><li>Exotic Spa </li><br><li>Free Parking</li><br><li>Free WiFi<br><br><br><br></li></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 1.)<h5><br><br><br><li>Eravikulam National Park</li><br><li>Varkala Beach</li><br><li>Cherai Beach</li><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 2.)<h5><br><br><li>Matteupetty Dam</li><br><li>Mattencherry Palace</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 3.)<h5><br><br><li>Edakkal Caves</li><br><li>Chembra</li><br><li>Anamudi</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Mealing Services Inclusions:-<br><h5><li>Proper Hygeinic Restraurants are organized en-route</li><br><li>Fully Air Conditioned </li><br><li>Completely Hygenic </li><br><li>All Snack Suppliments will be included in the tour bus</li></h5></h3></td>
<td><h3>Transportation Services Provided:-<br><br><br><h5><li>Rental Cars will be available for those in need</li><br><li>Fully Air Conditioned </li><br><li>Sanatized </li><br><li>All other neccesities will be included in the tour bus</li></h5></h3></td>
<td><h3>Medication Services Provided:-<h5><li>Advised to carry all your important medicines</li><br><li>Different Sanitizer bottles and Masks will be provided to all </li><br><li>All other normal medicines will be included in the tour bus</li></h5></h3></td>
<td><h3></h3></td><td><h3>Complete Package Price :-<br><br><br><br><br> Rs 12,999  <br><h5>(Inclusion of GST)<br><br><br><br><br></h5></h3></td>
<td><button type="submit"><a href="buynow"><h4 <font color="#FFFFFF"> Buy Package </h4></a></button></td>
</tr>
</table>
<br>
<br>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>
PACKAGE - 2 </font> </h4>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>Stupendous Munnar Alleppey Houseboat</center></font> </h4>
</center>
<table>
<tr>
<TABLE BORDER="10" BORDERCOLOR="#7E5109">
<td><img src="https://www.swantour.com/sites/default/files/orange-county-resort.jpg" alt="Coorg hotel" width="495" height="350"></td>
<td><h3>Package Inclusions:- <br><h5><li>Welcome drinks</li><br><li>All meals on Boat</li><br><li>Driver's Allowance</li><br><li>Priority Check-in</li><br><li>Travel Insurance</li><br><li>On ground Assistance</li></h5></h3></td>
<td><h3>Hotel :-<br>Coorg International<br><br><h5><li>3 days check in at Hotel Coorg International</li><br><li>Compliment breakfasts</li><br><li>Exotic Spa </li><br><li>Free Parking</li><br><li>Free WiFi<br><br><br><br></li></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 1.)<h5><br><br><br><li>Eravikulam National Park</li><br><li>Ambu Means Arrow</li><br><li>Cherai Beach</li><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 2.)<h5><br><br><li>Hanging Bridge Observatory</li><br><li>Mattencherry Palace</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 3.)<h5><br><br><li>Edakkal Caves</li><br><li>Matteupetty Dam</li><br><li>Anamudi</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Mealing Services Inclusions:-<br><h5><li>Proper Hygeinic Restraurants are organized en-route</li><br><li>Fully Air Conditioned </li><br><li>Completely Hygenic </li><br><li>All Snack Suppliments will be included in the tour bus</li></h5></h3></td>
<td><h3>Transportation Services Provided:-<br><br><br><h5><li>Rental Cars will be available for those in need</li><br><li>Fully Air Conditioned </li><br><li>Sanatized </li><br><li>All other neccesities will be included in the tour bus</li></h5></h3></td>
<td><h3>Medication Services Provided:-<h5><li>Advised to carry all your important medicines</li><br><li>Different Sanitizer bottles and Masks will be provided to all </li><br><li>All other normal medicines will be included in the tour bus</li></h5></h3></td>
<td><h3></h3></td><td><h3>Complete Package Price :-<br><br><br><br><br> Rs 14,999  <br><h5>(Inclusion of GST)<br><br><br><br><br></h5></h3></td>
<td><button type="submit"><a href="buynow"><h4 <font color="#FFFFFF"> Buy Package </h4></a></button></td>
</tr>
</table>
</body>
</html> 