<html>
<head >
<body style= "background: url(https://cdn5.eyeem.com/thumb/90419be2d08456f5f0089eee98e9634b58b9b93c-1562590042676/w/1300);background-size: 100% 100%;">
<style>
table{font-family:Calibri; color:"#FFFFFF"; width:8%;}
hr{border-top :1px solid #000000;
color:#000000;
}
</style>
<title> TROUVAILLE </title> </head>
<body> <h1 <font face= "Gabriola"><font size= "+5"> <CENTER> TROUVAILLE </CENTER> </font> </h1>
<h3 font face="Calibri"><i><center>'A chance to encounter with something wonderful'</center></i> </font></h3>
<br>
<h3  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> <CENTER>RAJASTHAN PACKAGES</CENTER> </font> </h3>
<br>
<br>
<hr>
<hr>
<hr>
<hr>
<br>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>
PACKAGE - 1 </font> </h4>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>Heritage of Agra & Jaipur </center></font> </h4>
</center>
<table>
<tr>
<TABLE BORDER="10" BORDERCOLOR="#9A7D0A">
<td><img src="https://imgcld.yatra.com/ytimages/image/upload/t_hotel_tg_details_seo/v1521520712/Hotel/00012343/Restaurant_(12)_pcMSPR.jpg" alt="Hotel treebo trend bliss" width="495" height="350"></td>
<td><h3>Package Inclusions:- <br><h5><li>Welcome drinks</li><br><li>All meals on Boat</li><br><li>Driver's Allowance</li><br><li>Priority Check-in</li><br><li>Travel Insurance</li><br><li>On ground Assistance</li></h5></h3></td>
<td><h3>Hotel :-<br>Treebo Trend Bliss<h5><li>3 days check in at Hotel Treebo Trend Bliss</li><br><li>Compliment breakfasts</li><br><li>Free Parking</li><br><li>Free WiFi<br></li></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 1.)<h5><br><br><br><li>Humayun's Tomb</li><br><li>Agra Fort</li><br><li>Amber Fort</li><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 2.)<h5><br><br><br><br><li>Fatehpur Sikri</li><br><li>Taj Mahal</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 3.)<h5><br><br><br><li>Observatory</li><br><li>Jahangir Palace</li><br><li>Dausa District</li><br><br><br><br></h5></h3></td>
<td><h3>Mealing Services Inclusions:-<br><h5><li>Proper Hygeinic Restraurants are organized en-route</li><br><li>Fully Air Conditioned </li><br><li>Completely Hygenic </li><br><li>All Snack Suppliments will be included in the tour bus</li></h5></h3></td>
<td><h3>Transportation Services Provided:-<br><br><br><h5><li>Rental Cars will be available for those in need</li><br><li>Fully Air Conditioned </li><br><li>Sanatized </li><br><li>All other neccesities will be included in the tour bus</li></h5></h3></td>
<td><h3>Medication Services Provided:-<h5><li>Advised to carry all your important medicines</li><br><li>Different Sanitizer bottles and Masks will be provided to all </li><br><li>All other normal medicines will be included in the tour bus</li></h5></h3></td>
<td><h3></h3></td><td><h3>Complete Package Price :-<br><br><br><br><br> Rs 12,999  <br><h5>(Inclusion of GST)<br><br><br><br><br></h5></h3></td>
<td><button type="submit"><a href="buynow"><h4 <font color="#FFFFFF"> Buy Package </h4></a></button></td>
</tr>
</table>
<br>
<br>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>
PACKAGE - 2 </font> </h4>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>The Grand Golden Triangle & Ranthambore</center></font> </h4>
</center>
<table>
<tr>
<TABLE BORDER="10" BORDERCOLOR="#9A7D0A">
<td><img src="https://cf.bstatic.com/images/hotel/max1024x768/212/212073554.jpg" alt="Treebo trend bliss grand-ranthambore" width="495" height="350"></td>
<td><h3>Package Inclusions:- <br><h5><li>Welcome drinks</li><br><li>All meals on Boat</li><br><li>Driver's Allowance</li><br><li>Priority Check-in</li><br><li>Travel Insurance</li><br><li>On ground Assistance</li></h5></h3></td>
<td><h3>Hotel :-<br>Trebo Trend Bliss<h5><li>3 days check in at Hotel Trebo Trend Bliss Grand</li><br><li>Compliment breakfasts</li><br><li>Free Parking</li><br><li>Free WiFi<br></li></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 1.)<h5><br><br><br><li>Jantar Mantar</li><br><li>Mubarak Mahal</li><br><li>Amber Fort</li><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 2.)<h5><br><br><br><br><br><li>Hawa Mahal</li><br><li>Taj Mahal</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 3.)<h5><br><br><br><li>Chandra Mahal</li><br><li>Jahangir Palace</li><br><li>Dausa District</li><br><br><br><br></h5></h3></td>
<td><h3>Mealing Services Inclusions:-<br><h5><li>Proper Hygeinic Restraurants are organized en-route</li><br><li>Fully Air Conditioned </li><br><li>Completely Hygenic </li><br><li>All Snack Suppliments will be included in the tour bus</li></h5></h3></td>
<td><h3>Transportation Services Provided:-<br><br><br><h5><li>Rental Cars will be available for those in need</li><br><li>Fully Air Conditioned </li><br><li>Sanatized </li><br><li>All other neccesities will be included in the tour bus</li></h5></h3></td>
<td><h3>Medication Services Provided:-<h5><li>Advised to carry all your important medicines</li><br><li>Different Sanitizer bottles and Masks will be provided to all </li><br><li>All other normal medicines will be included in the tour bus</li></h5></h3></td>
<td><h3></h3></td><td><h3>Complete Package Price :-<br><br><br><br><br> Rs 14,999  <br><h5>(Inclusion of GST)<br><br><br><br><br></h5></h3></td>
<td><button type="submit"><a href="buynow"><h4 <font color="#FFFFFF"> Buy Package </h4></a></button></td>
</tr>
</table>
</body>
</html> 