<html>
<head >
<body style= "background: url(https://media.istockphoto.com/photos/abstract-white-blurred-abstract-background-from-buildings-and-view-of-picture-id825359054?k=6&m=825359054&s=612x612&w=0&h=BDv0YcW7RNu0_lv2awP8TDjVDrZB8CuNUeEROIPWRow=);background-size: 100% 100%;">
<style>
table{font-family:Calibri; color:"#FFFFFF"; width:8%;}
hr{border-top :1px solid #000000;
color:#000000;
}
</style>
<title> TROUVAILLE </title> </head>
<body> <h1 <font face= "Gabriola"><font size= "+5"> <CENTER> TROUVAILLE </CENTER> </font> </h1>
<h3 font face="Calibri"><i><center>'A chance to encounter with something wonderful'</center></i> </font></h3>
<br>
<h3  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> <CENTER>SINGAPORE PACKAGES</CENTER> </font> </h3>
<br>
<br>
<hr>
<hr>
<hr>
<hr>
<br>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>
PACKAGE - 1 </font> </h4>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>Oxford MMT Special </center></font> </h4>
</center>
<table>
<tr>
<TABLE BORDER="10" BORDERCOLOR="#34495E">
<td><img src="https://r1imghtlak.mmtcdn.com/ab574e32c2cb11e7821802755708f0b3.jpg?&output-quality=75&downsize=520:350&crop=520:350;81,0&output-format=jpg" alt="Oxford Hotel" width="495" height="350"></td>
<td><h3>Package Inclusions:- <br><br><br><h5><li>International Air Ticket</li><br><li>All meals </li><br><li>Priority Check-in</li><br><li>Travel Insurance</li><br><li>On ground Assistance</li></h5></h3></td>
<td><h3>Hotel :-<br>Oxford Hotel<h5><br><br><li>3 days check in at Hotel Oxford</li><br><li>Complimentary breakfasts</li><br><li>Exotic Spa </li><br><li>Free Parking</li><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 1.)<h5><br><br><br><br><li>Genting Highland Tour</li><br><li>Cable car Travel</li><br><li>Night Safari</li><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 2.)<h5><br><br><br><li>Breakfast at Grading High</li><br><li>Universal Studios Tour</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 3.)<h5><br><br><li>Half Day City Tour</li><br><li>Sentosa Experiential Tour</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Mealing Services Inclusions:-<br><h5><li>Proper Hygeinic Restraurants are organized en-route</li><br><li>Fully Air Conditioned </li><br><li>Completely Hygenic </li><br><li>All Snack Suppliments will be included in the tour bus</li></h5></h3></td>
<td><h3>Transportation Services Provided:-<br><br><br><h5><li>Rental Cars will be available for those in need</li><br><li>Fully Air Conditioned </li><br><li>Sanatized </li><br><li>All other neccesities will be included in the tour bus</li></h5></h3></td>
<td><h3>Medication Services Provided:-<h5><li>Advised to carry all your important medicines</li><br><li>Different Sanitizer bottles and Masks will be provided to all </li><br><li>All other normal medicines will be included in the tour bus</li></h5></h3></td>
<td><h3></h3></td><td><h3>Complete Package Price :-<br><br><br><br><br> Rs 67,999  <br><h5>(Inclusion of GST)<br><br><br><br><br><br><br></h5></h3></td>
<td><button type="submit"><a href="buynow"><h4 <font color="#FFFFFF"> Buy Package </h4></a></button></td>
</tr>
</table>
<br>
<br>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>
PACKAGE - 2 </font> </h4>
<h4  <font color= "#000000">  <font face= "Copperplate"> <font size= "+3"> 
<center>Copthorne King's MMT Special</center></font> </h4>
</center>
<table>
<tr>
<TABLE BORDER="10" BORDERCOLOR="#34495E">
<td><img src="https://r1imghtlak.mmtcdn.com/54644848965211eab6270242ac110002.jpg?&output-quality=75&downsize=520:350&crop=520:350;2,0&output-format=jpg" alt="Copthorne King's Hotel" width="495" height="350"></td>
<td><h3>Package Inclusions:- <br><br><br><h5><li>International Air Ticket</li><br><li>All meals </li><br><li>Priority Check-in</li><br><li>Travel Insurance</li><br><li>On ground Assistance</li></h5></h3></td>
<td><h3>Hotel :-<br>Copthorne King's Hotel<h5><li>3 days check in at Hotel Copthorne King's</li><br><li>Complimentary breakfasts</li><br><li>Exotic Spa </li><br><li>Free Parking</li></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 1.)<h5><br><br><br><br><li>Genting Highland Tour</li><br><li>Tanah Lot Tour at sunset</li><br><li>Night Safari</li><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 2.)<h5><br><br><br><li>Breakfast at Hotel in Bali</li><br><li>Universal Studios Tour</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Sight Visiting Inclusions:-<br>(Day 3.)<h5><br><br><li>Half Day City Tour</li><br><li>Sentosa Experiential Tour</li><br><br><br><br><br><br></h5></h3></td>
<td><h3>Mealing Services Inclusions:-<br><h5><li>Proper Hygeinic Restraurants are organized en-route</li><br><li>Fully Air Conditioned </li><br><li>Completely Hygenic </li><br><li>All Snack Suppliments will be included in the tour bus</li></h5></h3></td>
<td><h3>Transportation Services Provided:-<br><br><br><h5><li>Rental Cars will be available for those in need</li><br><li>Fully Air Conditioned </li><br><li>Sanatized </li><br><li>All other neccesities will be included in the tour bus</li></h5></h3></td>
<td><h3>Medication Services Provided:-<h5><li>Advised to carry all your important medicines</li><br><li>Different Sanitizer bottles and Masks will be provided to all </li><br><li>All other normal medicines will be included in the tour bus</li></h5></h3></td>
<td><h3></h3></td><td><h3>Complete Package Price :-<br><br><br><br><br> Rs 77,999  <br><h5>(Inclusion of GST)<br><br><br><br><br><br><br></h5></h3></td>
<td><button type="submit"><a href="buynow"><h4 <font color="#FFFFFF"> Buy Package </h4></a></button></td>
</tr>
</table>
</body>
</html> 