<html>
<head >
<body style= "background: url(https://images.unsplash.com/photo-1501436513145-30f24e19fcc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);background-size: 100% 100%;">
<style>
table{font-family:Calibri; color:"#FFFFFF"; width:8%; margin: 0 0 0 700px;}
</style>
<title> TROUVAILLE </title> </head>
<body> <h1 <font face= "Gabriola"><font size= "+5"> <CENTER> TROUVAILLE </CENTER> </font> </h1>
<h3 font face="Calibri"><i><center>'A chance to encounter with something wonderful'</center></i> </font></h3>
<br>
<h3  <font color= "#330066">  <font face= "Copperplate"> <font size= "+3"> <CENTER> WELCOME </CENTER> </font> </h3>
<br>
<br>
<br> 
<font face="Baskerville Old Face"> <font color="#660033">  <font size="+2">
<table style= "height:80" bgcolor="#D7BDE2">
<tr><td><center><a href="about"> ABOUT US </a></center></tr></td></table>
<br>
<table style="height:80" bgcolor="#BB8FCE"> 
<tr><td><center><a href="domestic"> DOMESTIC TOUR </a></center></tr></td></table>
<table style="height:80" bgcolor="#2980B9">
<br>
<tr><td><center><a href="international"> INTERNATIONAL TOUR </a></center></tr></td></table>
<br>
<table style="height:80" bgcolor="#006994">
<tr><td><center><a href="gallery"> GALLERY </a></center></tr></td></table>
</font> 
</body>
</html>
